services:
  mysql:
    image: mysql:8.0
    container_name: shinwon-mysql
    environment:
      MYSQL_ROOT_PASSWORD: admin1234!
      MYSQL_DATABASE: shinwon_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data:
