@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #2cae69;
  --secondary: #222222;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanum), sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll on mobile */
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}